In [1]:
import pandas as pd

In [2]:
datapath = 'C:/Users/user/Downloads/archive (9)/Armenian Market Car Prices.csv'

In [3]:
df = pd.read_csv(datapath)
df.head()

       Car Name  Year    Region  FuelType  Mileage  Price
0  Ford Transit  2002     Goris    Diesel   215000  12000
1    Ford Focus  2017    Ijevan  Gasoline    72000  11500
2   Opel Vectra  1998   Armavir  Gasoline   466000   4000
3       Mazda 6  2020  Nor Nork  Gasoline   100000  22000
4   Opel Vectra  1998   Armavir  Gasoline   318000   3500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7995 entries, 0 to 7994
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car Name  7995 non-null   object
 1   Year      7995 non-null   int64
 2   Region    7995 non-null   object
 3   FuelType  7995 non-null   object
 4   Mileage   7995 non-null   int64
 5   Price     7995 non-null   int64
dtypes: int64(3), object(3)
memory usage: 374.9+ KB

In [6]:
df.columns

Index(['Car Name', 'Year', 'Region', 'FuelType', 'Mileage', 'Price'], dtype='object')

In [8]:
# get the features
important_features = ['Car Name', 'Year', 'Region', 'FuelType', 'Mileage']
X=df[important_features]
X

                   Car Name  Year     Region  FuelType  Mileage
0              Ford Transit  2002      Goris    Diesel   215000
1                Ford Focus  2017     Ijevan  Gasoline    72000
2               Opel Vectra  1998    Armavir  Gasoline   466000
3                   Mazda 6  2020   Nor Nork  Gasoline   100000
4               Opel Vectra  1998    Armavir  Gasoline   318000
...                     ...   ...        ...       ...      ...
7990  VAZ (Lada) 2121 (4x4)  2013    Armavir  Gasoline   150000
7991         Toyota 4Runner  2018   Nor Nork  Gasoline    94000
7992   Opel Astra hatchback  2001   Ajapnyak  Gasoline   151000
7993           Toyota Camry  2009  Shengavit  Gasoline   300000
7994  Mercedes-Benz C-Class  1997  Nor Geghi  Gasoline   200000

[7995 rows x 5 columns]

In [9]:
# the target variable
y = df['Price']
y

0       12000
1       11500
2        4000
3       22000
4        3500
        ...
7990    35000
7991     5600
7992     9800
7993     4500
7994     3200
Name: Price, Length: 7995, dtype: int64

In [17]:
# categorical features
cat_features = ['Car Name', 'Region', 'FuelType']
X[cat_features]

                   Car Name     Region  FuelType
0              Ford Transit      Goris    Diesel
1                Ford Focus     Ijevan  Gasoline
2               Opel Vectra    Armavir  Gasoline
3                   Mazda 6   Nor Nork  Gasoline
4               Opel Vectra    Armavir  Gasoline
...                     ...        ...       ...
7990  VAZ (Lada) 2121 (4x4)    Armavir  Gasoline
7991         Toyota 4Runner   Nor Nork  Gasoline
7992   Opel Astra hatchback   Ajapnyak  Gasoline
7993           Toyota Camry  Shengavit  Gasoline
7994  Mercedes-Benz C-Class  Nor Geghi  Gasoline

[7995 rows x 3 columns]

In [19]:
# one-hot encode
#print(df['Car Name'].unique())

['Ford Transit' 'Ford Focus' 'Opel Vectra' 'Mazda 6' 'VAZ (Lada) 2110'
 'Mercedes-Benz E-Class' 'BMW X6' 'BMW 5 Series'
 'Mercedes-Benz B-Class hatchback' 'Opel Zafira' 'VAZ (Lada) 2121 (4x4)'
 'Hyundai Sonata' 'BMW Z3' 'Volkswagen Passat' 'Fiat 124 Spider'
 'GAZ (ГАЗ) Sobol' 'Nissan Teana' 'Opel Astra' 'Mazda CX-5'
 'Mercedes-Benz GLK-Class' 'Ford Fusion (North America)'
 'MINI Cooper hatchback' 'Mercedes-Benz S-Class' 'Honda Accord'
 'VAZ (Lada) 2101' 'Mercedes-Benz C-Class' 'Chevrolet Malibu'
 'Nissan Rogue Sport' 'Toyota Camry' 'Kia Sorento' 'Toyota Platz'
 'Mercedes-Benz Sprinter' 'UAZ (УАЗ) 452' 'Toyota RAV4' 'Peugeot Bipper'
 'Infiniti QX80' 'Nissan X-Trail' 'Mercedes-Benz G-Class AMG'
 'Toyota Land Cruiser' 'Nissan Sentra' 'Ford EcoSport' 'MINI Countryman'
 'Nissan Primera' 'Jeep Cherokee' 'BMW X5' 'Hyundai Tucson'
 'Infiniti QX50' 'BMW M5' 'Peugeot 206 hatchback' 'BMW 3 Series hatchback'
 'Honda CR-V' 'Nissan Altima' 'Peugeot 406' 'Jeep Compass' 'Nissan Murano'
 'Toyota Alphard' 'VAZ (Lada) 2107' 'Lexus GX' 'Mercedes-Benz 320'
 'BMW 3 Series coupe' 'Mercedes-Benz 300' 'Toyota Prius' 'Lexus LX'
 'Nissan March hatchback' 'BMW X1' 'Volkswagen Touareg'
 'Volkswagen Tiguan' 'Hyundai Kona' 'Nissan Tiida hatchback'
 'Opel Astra wagon' 'Chevrolet Volt' 'Opel Astra hatchback'
 'Dodge Journey' 'Kia Optima' 'IZH (ИЖ) Moskvich-412' 'Hyundai Elantra'
 'BMW 3 Series' 'Mitsubishi Lancer' 'Audi Q7' 'Honda Odyssey'
 'GAZ (ГАЗ) 3110 Volga' 'Kia Forte' 'Infiniti Q50' 'Kia Sportage'
 'VAZ (Lada) Kalina hatchback' 'Mitsubishi Grandis' 'Cadillac DeVille'
 'Nissan Rogue' 'VAZ (Lada) 2114 hatchback' 'Volvo S60' 'GAZ (ГАЗ) ГАЗель'
 'Mercedes-Benz ML' 'Toyota Vitz hatchback' 'Mercedes-Benz 220'
 'GAZ (ГАЗ) 31105 Volga' 'Kia K7' 'BYD F3' 'Nissan Sunny' 'Tesla Model Y'
 'Tesla Model S' 'Mitsubishi Pajero IO' 'Mercedes-Benz GLE Coupe'
 'Mercedes-Benz CLA-Class' 'Infiniti QX70' 'Ford Focus hatchback'
 'Infiniti FX35 wagon' 'Ford Mondeo' 'VAZ (Lada) 2121 Niva'
 'Chevrolet Cruze' 'Chrysler 200' 'GAZ (ГАЗ) 3102 Volga' 'BMW X3'
 'Nissan Tiida' 'Mercedes-Benz E-Class AMG' 'Lexus RX'
 'Mercedes-Benz Vito' 'Tesla Model 3' 'VAZ (Lada) 21099' 'Toyota C-HR'
 'Hyundai Santa Fe' 'Mitsubishi Colt hatchback' 'Ford Bronco Sport'
 'Land Rover Range Rover' 'Mercedes-Benz GLE' 'Chevrolet Camaro coupe'
 'VAZ (Lada) 21093 hatchback' 'GMC Acadia' 'Dodge Charger' 'Jaguar F-Pace'
 'Hummer H3' 'VAZ (Lada) Priora hatchback' 'Mitsubishi Outlander Sport'
 'Kia K5' 'Lexus NX' 'Renault Clio' 'GAZ (ГАЗ) 24 Volga' 'UAZ (УАЗ) 31512'
 'Mercedes-Benz Viano' 'Toyota Avensis' 'VAZ (Lada) Vesta wagon'
 'Chevrolet Lacetti' 'Mitsubishi Chariot' 'Land Rover Range Rover Evoque'
 'Mercedes-Benz CLK-Class coupe' 'Volkswagen Golf hatchback'
 'VAZ (Lada) Niva' 'Toyota 4Runner' 'VAZ (Lada) 2105' 'Ford Escape'
 'Rover 75' 'GAZ (ГАЗ)' 'Subaru Legacy' 'Land Rover Freelander'
 'Chevrolet Equinox' 'Alfa Romeo Stelvio' 'Mercedes-Benz GLE-Class'
 'Mazda Verisa hatchback' 'Mercedes-Benz Maybach S-Class'
 'Mercedes-Benz M-Class' 'Land Rover Range Rover Velar'
 'Land Rover Range Rover Sport' 'Mitsubishi Pajero' 'Mazda CX-9'
 'Mercedes-Benz C-Class wagon' 'Toyota Corolla' 'Opel Omega wagon'
 'Nissan Maxima' 'Volkswagen Jetta' 'Chevrolet Bolt hatchback'
 'Mitsubishi Airtrek EV' 'Infiniti JX' 'Acura ILX' 'Mitsubishi Airtrek'
 'Volkswagen Atlas' 'Mercedes-Benz GLC Coupe' 'VAZ (Lada) 2106'
 'Chevrolet Lanos' 'Opel Vectra hatchback' 'VAZ (Lada) 2112 hatchback'
 'Mitsubishi Pajero coupe' 'Nissan X-Terra' 'GAZ (ГАЗ) 21 Volga'
 'Hyundai Galloper' 'Honda Elysion' 'Jeep Renegade' 'VAZ (Lada) Priora'
 'Moskvich (Москвич) 407' 'Nissan Juke' 'Hyundai Ioniq hatchback'
 'Mercedes-Benz 240' 'Mercedes-Benz A-Class hatchback' 'Infiniti QX60'
 'Kia Cerato' 'Volkswagen Polo' 'Iran Khodro Samand' 'BMW 4 Series coupe'
 'BMW X5 M' 'Renault Logan' 'GAZ (ГАЗ) 31029 Volga wagon' 'Kia EV5'
 'BYD Song Plus' 'Zeekr X' 'Honda e:NS1' 'Mazda CX-30'
 'Mercedes-Benz GL-Class' 'Mercedes-Benz W124' 'Infiniti FX35'
 'Peugeot 307 hatchback' 'Infiniti QX55' 'Nissan Armada'
 'Kia Sorento Prime' 'Mazda 3' 'Audi E-tron' 'Volkswagen Vento'
 'Mercedes-Benz CLS-Class AMG' 'Toyota Prius hatchback'
 'Mercedes-Benz G-Class' 'Dodge Dart' 'Opel Meriva' 'Chrysler 300C'
 'Infiniti EX-Series' 'Chevrolet Volt hatchback' 'VAZ (Lada) 2103'
 'VAZ (Lada) 2115' 'Mitsubishi Pajero wagon' 'Mercedes-Benz GLA-Class'
 'Suzuki Grand Vitara' 'AIQAR eQ3' 'Honda Odyssey (North America)'
 'Audi Q5' 'Volkswagen Golf wagon' 'UAZ (УАЗ) Hunter' 'Suzuki Kizashi'
 'Scion xA hatchback' 'UAZ (УАЗ) Patriot' 'Opel Omega'
 'Hyundai Elantra hatchback' 'Hyundai Matrix' 'Ford Mustang coupe'
 'Volkswagen Passat CC' 'Audi A5 coupe' 'Ford Edge' 'Ford Explorer'
 'Nissan Xterra' 'Mercedes-Benz CLS-Class' 'Nissan Pathfinder'
 'Infiniti G37 coupe' 'Nissan Presea' 'Nissan Patrol' 'Ford Transit wagon'
 'Mazda MPV' 'Ford Fiesta' 'Mitsubishi Mirage' 'Opel Astra convertible'
 'Opel Vectra wagon' 'BYD Seagull hatchback' 'Skoda Octavia'
 'Daewoo Nexia' 'VAZ (Lada) 2104 wagon' 'Suzuki Splash hatchback'
 'Nissan Bluebird' 'Lexus IS' 'Nissan Versa hatchback' 'Kia Stinger'
 'Honda Legend' 'Honda Integra' 'Honda HR-V' 'Honda Civic'
 'Ford Transit hatchback' 'Nissan Skyline' 'Mercedes-Benz 190 (W201)'
 'BMW 7 Series' 'Opel Vita hatchback' 'Opel Corsa hatchback'
 'Toyota Highlander' 'Kia Rio' 'Nissan Note hatchback'
 'Subaru Forester wagon' 'Peugeot 5008' 'Toyota Land Cruiser Prado'
 'Fiat Fiorino' 'Hyundai Accent' 'Subaru Forester' 'Audi Q3' 'Audi 100'
 'Dodge Caliber hatchback' 'Lincoln Continental' 'Toyota BB' 'Mazda CX-3'
 'BMW X7' 'Infiniti QX56' 'Honda Ridgeline pickup' 'Peugeot 605'
 'Mitsubishi Outlander' 'Nissan Quest' 'GMC Jimmy' 'Ford Maverick'
 'Mazda Millenia' 'Toyota Sienna' 'BMW 1 Series hatchback'
 'Nissan Bluebird Sylphy' 'Toyota Ipsum' 'Dodge Challenger coupe'
 'Volkswagen Sharan' 'Ford Mustang convertible' 'Toyota Altezza'
 'Chevrolet Celebrity' 'Toyota Vellfire' 'Hyundai Veloster hatchback'
 'Mercedes-Benz W124 coupe' 'UAZ (УАЗ) 31514 wagon'
 'VAZ (Lada) Niva Legend' 'Jeep Commander' 'BMW 5 Series wagon'
 'Land Rover Discovery Sport' 'Jeep Grand Cherokee' 'Opel Combo'
 'Infiniti Q60 coupe' 'Honda Civic hatchback' 'Kia Seltos' 'Mazda CX-7'
 'Audi A4' 'UAZ (УАЗ) 31512 hatchback' 'Mercedes-Benz GLC-Class'
 'Mazda 3 hatchback' 'Chevrolet Niva' 'Ford Transit Connect' 'BMW X4'
 'Toyota Carina E' 'Acura RDX' 'Opel Sintra' 'Kia Forte coupe'
 'Opel Signum hatchback' 'Nissan Fuga' 'Alfa Romeo Giulia' 'Opel Frontera'
 'VAZ (Lada) 2113 hatchback' 'Toyota Avalon' 'BMW 4 Series' 'Honda Pilot'
 'Ford Courier' 'Renault Kangoo' 'Ford Focus wagon' 'Chery Tiggo 7 Pro'
 'Volkswagen Passat wagon' 'Rolls-Royce Phantom' 'Nissan Qashqai'
 'Infiniti QX30' 'BYD Song Pro' 'Nissan Micra hatchback' 'Chevrolet Trax'
 'Nissan Kicks' 'Chrysler Voyager' 'Kia Rio X-Line hatchback'
 'Mercedes-Benz S-Class coupe' 'Mercedes-Benz C-Class coupe'
 'Ford Econoline' 'Volvo XC90' 'Mercedes-Benz GLE Coupe AMG'
 'Toyota Venza' 'Mercedes-Benz Sprinter Classic'
 'Subaru Impreza hatchback' 'Skoda Superb' 'Tesla Model X'
 'Renault Sandero hatchback' 'Volkswagen Caddy' 'Mazda 626'
 'Mitsubishi Montero Sport' 'BMW 6 Series coupe' 'Lincoln MKZ'
 'Lexus GX460' 'Lexus ES' 'Ford F-150 pickup' 'Renault Clio hatchback'
 'Mazda 5' 'UAZ (УАЗ) 31514' 'Dodge Ram pickup' 'GMC Envoy' 'BMW X3 M'
 'Peugeot J5' 'Wuling Sunshine' 'Porsche Cayenne' 'GAZ (ГАЗ) 67'
 'Moskvich (Москвич) 401' 'Mercedes-Benz C-Class AMG coupe' 'Infiniti M35'
 'Suzuki Swift hatchback' 'VAZ (Lada) Granta' 'Mercedes-Benz 190'
 'Isuzu Axiom' 'Renault Laguna wagon' 'Porsche Macan'
 'VAZ (Lada) 2131 Niva' 'Lexus LS' 'VAZ (Lada) 2108 hatchback'
 'Kia Soul EV hatchback' 'Chevrolet Blazer' 'Nissan Elgrand'
 'Mercedes-Benz ML wagon' 'Cadillac Escalade' 'Acura MDX' 'Kia Telluride'
 'Nissan Altima coupe' 'Toyota bZ4X' 'Mercedes-Benz GLS-Class'
 'UAZ (УАЗ) 469' 'Honda Inspire' 'GAZ (ГАЗ) M-20 Pobeda' 'Audi A8'
 'Mercedes-Benz 500' 'Subaru Impreza' 'Lexus SC convertible'
 'BMW 2 Series' 'ZAZ (ЗАЗ) 965' 'Peugeot Expert' 'Subaru WRX'
 'Infiniti EX35' 'Infiniti EX35 hatchback' 'Volkswagen Transporter'
 'Fiat Seicento hatchback' 'Volkswagen Polo hatchback'
 'Nissan Primera wagon' 'MINI Cooper S Countryman wagon' 'Nissan Versa'
 'Infiniti FX-Series' 'Ford Fiesta hatchback' 'Ford Fusion'
 'Skoda Fabia hatchback' 'Volkswagen Bora' 'Suzuki SX4 hatchback'
 'Hyundai ix35' 'Mercedes-Benz W124 wagon' 'Hyundai Solaris'
 'Chevrolet Silverado pickup' 'Hyundai i30 hatchback'
 'Toyota Passo hatchback' 'Geely Geometry C hatchback' 'Nissan NV200'
 'Chevrolet Traverse' 'Nissan Primastar' 'UAZ (УАЗ) 31519' 'Jaguar XF'
 'CheryExeed AtlantiX' 'Nissan Qashqai+2' 'Changan Benni EC/EV hatchback'
 'Toyota Harrier' 'Toyota Will Cypha hatchback' 'Mazda 323'
 'Mitsubishi Eclipse Cross' 'Jeep Liberty (North America)' 'Isuzu Rodeo'
 'Chrysler Town & Country' 'Mercedes-Benz EQE' 'Suzuki SX4'
 'IZH (ИЖ) 2715' 'Nissan Cedric' 'Hummer H2' 'Suzuki Alto hatchback'
 'Peugeot 307 wagon' 'LiXiang L7' 'Mercedes-Benz 200' 'Peugeot 307'
 'Mercedes-Benz Vaneo' 'Opel GT coupe' 'Honda Fit hatchback'
 'Suzuki Grand Vitara coupe' 'Toyota Voxy' 'Genesis G70'
 'Nissan Primera hatchback' 'Mazda Demio hatchback' 'Dodge Caravan'
 'Toyota Tundra pickup' 'Moskvich (Москвич) 2136 wagon' 'Audi A6'
 'Ford Tourneo Connect' 'Land Rover Discovery' 'BMW i3' 'Audi A4 wagon'
 'Mercedes-Benz SLK-Class' 'Mitsubishi Diamante' 'Subaru XV'
 'Toyota C-HR EV' 'Lexus GS' 'Chevrolet Colorado pickup' 'Suzuki Samurai'
 'Audi Q8 e-tron' 'Hyundai Creta' 'Renault Twizy coupe' 'Mazda Tribute'
 'Jeep Wrangler' 'Porsche Panamera hatchback' 'Genesis G80' 'Audi RS Q8'
 'Toyota GT 86 coupe' 'Renault Megane' 'VAZ (Lada) 2102 wagon' 'BMW iX'
 'Opel Astra coupe' 'Volvo S40' 'Hyundai Genesis' 'Cadillac CT5'
 'Mercedes-Benz C-Class hatchback' 'Mitsubishi Galant' 'Kia Carnival'
 'Infiniti G37' 'Nissan Urvan' 'Peugeot 607' 'Kia Soul hatchback'
 'Smart Forfour hatchback' 'BYD Yuan Plus' 'Volkswagen ID.6'
 'GMC Sierra pickup' 'Mercedes-Benz C-Class AMG' 'Mazda 323 hatchback'
 'Mercedes-Benz CL-Class coupe' 'Lincoln LS' 'Chevrolet Cruze hatchback'
 'Subaru Outback' 'Fiat Doblo' 'Peugeot 306 hatchback' 'BMW 6 Series'
 'Scion xD hatchback' 'Chevrolet Avalanche pickup' 'Audi A7'
 'Bentley Continental Flying Spur' 'Chevrolet TrailBlazer'
 'Chery T11 Tiggo' 'Volkswagen ID.4' 'Honda Civic coupe'
 'Mercedes-Benz 230' 'BMW 2 Series Grand Tourer' 'OKA 1111 coupe'
 'Alfa Romeo 159 wagon' 'Hyundai IONIQ 5' 'FAW Oley'
 'Hyundai Genesis Coupe coupe' 'Suzuki Baleno hatchback' 'Suzuki Swift'
 'Cadillac CTS' 'Mitsubishi ASX' 'Volkswagen e-Bora'
 'Mercedes-Benz GLC-Class coupe' 'RAM ProMaster City' 'Ford Bronco'
 'ErAZ 762 pickup' 'BMW X6 M' 'Ford Focus ST hatchback' 'Renault Scenic'
 'Lincoln Town Car limo' 'Chevrolet Rezzo' 'BMW X6 coupe'
 'BMW 1 Series coupe' 'Nissan Latio' 'Mazda Capella'
 'VAZ (Lada) 2109 hatchback' 'ErAZ 762 wagon' 'Mazda RX-8 coupe'
 'Audi 80 wagon' 'BMW 3 Series convertible' 'BMW Z3 convertible' 'BMW X2'
 'Moskvich (Москвич) 2137' 'Mercedes-Benz A-Class' 'Nissan Cube'
 'Mitsubishi Carisma' 'Chevrolet Camaro convertible' 'Suzuki Jimny'
 'Mitsubishi Pajero Sport' 'Toyota Tacoma pickup' 'Chevrolet Impala'
 'Mercedes-Benz EQC' 'Jaguar XKR coupe' 'BMW 2 Series coupe'
 'LuAZ (ЛуАЗ) 969' 'GAZ (ГАЗ) 3310 Valdai' 'GAZ (ГАЗ) 31029 Volga'
 'Mitsubishi Galant hatchback' 'Daewoo Tosca' 'UAZ (УАЗ) 3909'
 'Lifan Smily hatchback' 'Nissan Wingroad wagon' 'Chery B11 Eastar'
 'Hyundai Palisade' 'Mazda Bongo' 'Hyundai H-1' 'Kia K3' 'Nissan Liberty'
 'Dodge Durango' 'SsangYong Actyon Sports pickup'
 'Mercedes-Benz GLS-Class AMG' 'Hongqi E-QM5' 'Ford Fusion hatchback'
 'Mercedes-Benz S-Class limo' 'Mercedes-Benz GLE AMG'
 'Mercedes-Benz E-Class coupe' 'Ford F-250 pickup' 'Chevrolet Epica'
 'Nissan Leaf hatchback' 'Dodge Avenger' 'Infiniti QX4' 'Genesis GV80'
 'Citroen C4' 'BYD Han' 'Skoda Fabia' 'GAZ (ГАЗ) 69' 'UAZ (УАЗ) 3151'
 'Honda e:NP1' 'VAZ (Lada) Priora wagon' 'Subaru Impreza wagon'
 'BMW 2 Series convertible' 'Scion tC coupe' 'Toyota Sequoia'
 'Lincoln Navigator' 'Mercedes-Benz GLC' 'BMW 6 Series convertible'
 'Daewoo Matiz hatchback' 'Fiat Marea wagon'
 'Volkswagen Scirocco hatchback' 'Mazda CX-50' 'Toyota Hilux pickup'
 'Kia Spectra' 'Maserati Levante' 'Toyota Camry wagon'
 'Mercedes-Benz Vario' 'Chevrolet Captiva' 'Chevrolet Aveo'
 'GAZ (ГАЗ) 12 ZIM' 'Fiat 500 convertible' 'Lexus UX'
 'Hyundai Getz hatchback' 'Toyota Noah' 'Mercedes-Benz AMG GT coupe'
 'Rolls-Royce Ghost' 'Chrysler PT Cruiser hatchback'
 'Saturn Astra hatchback' 'GAZ (ГАЗ) 24 Volga wagon'
 'Ford Focus Electric hatchback' 'Jaguar I-Pace' 'Suzuki Forenza'
 'Renault Twingo hatchback' 'Chrysler Crossfire convertible'
 'Infiniti G35 coupe' 'BMW M3' 'GAZ (ГАЗ) 22 Volga wagon'
 'Mercedes-Benz GLE-Class coupe' 'Volkswagen Golf GTI hatchback'
 'Dodge Neon' 'Infiniti FX50' 'Suzuki XL7'
 'Mercedes-Benz Sprinter hatchback' 'Renault Express' 'Honda Insight'
 'Mercedes-Benz CLK-Class convertible' 'Fiat Punto hatchback'
 'Mercedes-Benz S-Class AMG' 'Saturn VUE' 'Skoda Yeti' 'Chevrolet Express'
 'MINI Cooper S hatchback' 'Mitsubishi Dingo hatchback'
 'VAZ (Lada) Granta wagon' 'BMW X4 M' 'ErAZ 762' 'Cadillac XT4'
 'Dodge Grand Caravan' 'Lincoln MKC' 'Geely MK'
 'Mitsubishi Lancer hatchback' 'Porsche Boxster' 'Audi 200' 'Jaguar XE'
 'Seat Ibiza hatchback' 'Infiniti G35' 'Peugeot 206 convertible' 'Audi A3'
 'Mitsubishi Delica' 'VAZ (Lada) 4x4' 'Volkswagen Touran' 'Audi 80'
 'Hyundai Grandeur' 'Cadillac ATS' 'Toyota Yaris' 'Mazda Atenza'
 'Kia Forte hatchback' 'Zeekr 001' 'Opel Movano' 'Mitsubishi Colt wagon'
 'Mitsubishi Pajero Pinin' 'Chrysler Pacifica' 'Hyundai H1' 'Jaguar XJ'
 'Peugeot 3008' 'VAZ (Lada) 2111 wagon' 'Alfa Romeo 147 hatchback'
 'Genesis GV70' 'Mercedes-Benz V-Class' 'Mercedes-Benz EQS SUV'
 'Peugeot Pars' 'Hyundai i10 hatchback' 'Geely GC6' 'Citroen Berlingo'
 'Cadillac ELR coupe' 'Daewoo Leganza' 'Mitsubishi L200 pickup'
 'Toyota Belta' 'Porsche Taycan' 'Mazda Xedos 9'
 'Mercedes-Benz E-Class convertible' 'Fiat Tempra wagon' 'Kia Sedona'
 'Mercedes-Benz EQS' 'Honda Accord coupe' 'Kia Cadenza' 'Toyota Progres'
 'LiXiang L9' 'Hyundai Tiburon coupe' 'Mercedes-Benz Metris' 'BYD Song EV'
 'Maserati Ghibli' 'Ford Ka hatchback' 'Opel Insignia' 'GAZ (ГАЗ) wagon'
 'BMW i7' 'BMW XM' 'Audi Q4 Sportback e-tron' 'BMW M4 coupe'
 'Rolls-Royce Cullinan' 'Mercedes-Benz EQB' 'Audi RS4 wagon' 'BMW iX1'
 'Audi SQ8 e-tron' 'BMW IX3' 'Peugeot Partner'
 'Mercedes-Benz CLA-Class AMG' 'Lamborghini Urus' 'Honda Stream'
 'Mercedes-Benz S-Class AMG coupe' 'Mercedes-Benz EQE AMG' 'Audi S4'
 'Audi A6 wagon' 'Audi RS7' 'Audi RS5' 'Audi SQ8' 'BMW i3 hatchback'
 'Mercedes-Benz GLB-Class' 'Mercedes-Benz Maybach GLS' 'BMW I8'
 'BMW I8 coupe' 'Mercedes-Benz EQA' 'Volvo V50 wagon' 'Volvo 850'
 'Hyundai Grand Santa Fe' 'SsangYong Sceo' 'Infiniti FX35 hatchback'
 'Mitsubishi Eclipse coupe' 'Toyota Mark X Zio' 'VAZ (Lada) Largus wagon'
 'Dodge Grand Caravan wagon' 'JAC T8 pickup' 'Fiat Tipo'
 'Mercedes-Benz GLC Coupe AMG' 'Chery Bonus (A13) hatchback'
 'Seat Toledo hatchback' 'Renault Laguna' 'VAZ (Lada) Kalina'
 'Moskvich (Москвич) 400']

In [11]:
# train test split
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=42)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4797, 5)
(3198, 5)
(4797,)
(3198,)

In [14]:
# init model
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [16]:
#model.fit(X_train,y_train)

ValueError: could not convert string to float: 'Hyundai Elantra'