In [81]:
import pandas as pd

In [82]:
datapath = 'C:/Users/user/Downloads/archive/RAW_global_confirmed_cases.csv'

In [83]:
dataframe = pd.read_csv(datapath)

In [84]:
dataframe.head()

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [85]:
dataframe.columns

Index(['Country/Region', 'Province/State', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

In [86]:
import numpy as np

In [87]:
dataframe.shape

(289, 1147)

In [88]:
# dropping columns with null values: e.g province/State
dataframe = dataframe.dropna(axis="columns")

In [89]:
dataframe.shape

(289, 1144)

In [90]:
# rename Country/Region to Country
dataframe = dataframe.rename(columns={"Country/Region":"Country"})
dataframe

,Country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,0,0,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,0,0,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,0,0,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,0,0,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,Winter Olympics 2022,0,0,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,0,0,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,0,0,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,Zimbabwe,0,0,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [91]:
#get the columns with dates for proper formatting
date_cols = dataframe.columns[1:]
date_cols = pd.to_datetime(date_cols,format='%m/%d/%y')
date_cols

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31',
               ...
               '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03',
               '2023-03-04', '2023-03-05', '2023-03-06', '2023-03-07',
               '2023-03-08', '2023-03-09'],
              dtype='datetime64[ns]', length=1143, freq=None)

In [92]:
# combining the columns back to one dataframe:
country_col = dataframe.columns[0]

In [93]:
!pip install hmmlearn

Requirement already satisfied: hmmlearn in c:\users\user\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: numpy>=1.10 in c:\users\user\anaconda3\lib\site-packages (from hmmlearn) (1.26.4)
Requirement already satisfied: scikit-learn!=0.22.0,>=0.16 in c:\users\user\anaconda3\lib\site-packages (from hmmlearn) (1.2.2)
Requirement already satisfied: scipy>=0.19 in c:\users\user\anaconda3\lib\site-packages (from hmmlearn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0,>=0.16->hmmlearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn!=0.22.0,>=0.16->hmmlearn) (2.2.0)

In [94]:
from hmmlearn import hmm

In [95]:
hidden_states = ["Low", "Medium", "High"]

In [96]:
dataframe = dataframe.drop(['Country'],axis=1)
train_size = int(len(dataframe) * 0.8)
train_data = dataframe.iloc[:train_size]
test_data = dataframe.iloc[train_size:]

In [97]:
model = hmm.MultinomialHMM(n_components=3)

MultinomialHMM has undergone major changes. The previous version was implementing a CategoricalHMM (a special case of MultinomialHMM). This new implementation follows the standard definition for a Multinomial distribution (e.g. as in https://en.wikipedia.org/wiki/Multinomial_distribution). See these issues for details:
https://github.com/hmmlearn/hmmlearn/issues/335
https://github.com/hmmlearn/hmmlearn/issues/340

In [98]:
model.fit(train_data)

MultinomialHMM(n_components=3,
               n_trials=array([  129988469,   185562654,   182741650,    24547525,    60025203,
              4961,     4310255,  5625482921,   285491323,    68002520,
        1235098031,    33394958,   557839164,   253224568,    81996866,
         927696252,   351612522,  2210457634,   493546661,    21502145,
         357306683,  1309367681,    39648490,   593651097,  2280497649,
          34174927,    16903440,    22329795,   605712604,   247573190,
         171155988, 211826...
        4053844551,     2100967,       69378,   587613164,    10111277,
           6313963,   188300124,   202398382,   646890941,   273461449,
        1079772495,     2074263,   558467809,    24996001,   434528549,
        2499413018,  2281636877,  3643680024,  2405740042,   282392958,
        1760871192, 10578569842,    77702485,     2981130,    13983991,
           4860875,     4965233,    10185486,     3753278,   576241072,
          59667120], dtype=int64),
               random_state=RandomState(MT19937) at 0x227B3E47240)