In [3]:
# The dataset used for this notebook can be found here: 
# https://www.kaggle.com/datasets/fahmidachowdhury/domestic-violence-against-women

In [4]:
import pandas as pd

In [5]:
datapath = "C:/Users/user/Downloads/archive (6)/Domestic violence.csv"

In [6]:
df = pd.read_csv(datapath)
df.head()

   SL. No  Age Education  Employment   Income Marital status  Violence
0       1   30  secondary  unemployed       0         married       yes
1       2   47   tertiary  unemployed       0         married        no
2       3   24   tertiary  unemployed       0        unmarred        no
3       4   22   tertiary  unemployed       0        unmarred        no
4       5   50    primary  unemployed       0         married       yes

In [7]:
df.columns

Index(['SL. No', 'Age', 'Education ', 'Employment ', 'Income',
       'Marital status ', 'Violence '],
      dtype='object')

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['Education ', 'Employment ', 'Marital status ', 'Violence ']

In [38]:
encoder = OneHotEncoder(sparse_output=False)

In [41]:
encoded_df = encoder.fit_transform(df[categorical_columns])

In [42]:
one_hot_df = pd.DataFrame(encoded_df, columns=encoder.get_feature_names_out(categorical_columns))
one_hot_df

,Education _none,Education _primary,Education _secondary,Education _tertiary,Employment _employed,Employment _employed,Employment _semi employed,Employment _unemployed,Marital status _married,Marital status _unmarred,Violence _no,Violence _yes
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
342,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
343,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
344,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
345,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
346,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [45]:
# Concatenate the one-hot encoded dataframe with the original dataframe
df_encoded = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical columns
df_encoded = df_encoded.drop(categorical_columns, axis=1)

df_encoded.columns

Index(['SL. No', 'Age', 'Income', 'Education _none', 'Education _primary',
       'Education _secondary', 'Education _tertiary', 'Employment _employed',
       'Employment _employed ', 'Employment _semi employed',
       'Employment _unemployed', 'Marital status _married',
       'Marital status _unmarred', 'Violence _no', 'Violence _yes'],
      dtype='object')

In [48]:
df_encoded = df_encoded.drop('SL. No',axis=1)
df_encoded.head()

,Age,Income,Education _none,Education _primary,Education _secondary,Education _tertiary,Employment _employed,Employment _employed,Employment _semi employed,Employment _unemployed,Marital status _married,Marital status _unmarred,Violence _no,Violence _yes
0,30,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,47,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,24,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,22,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,50,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [49]:
df_encoded.shape

(347, 14)

In [50]:
# get the features
important_features = ['Age', 'Income', 'Education _none', 'Education _primary',
       'Education _secondary', 'Education _tertiary', 'Employment _employed',
       'Employment _employed ', 'Employment _semi employed',
       'Employment _unemployed', 'Marital status _married',
       'Marital status _unmarred']
X = df_encoded[important_features]
X.head()

,Age,Income,Education _none,Education _primary,Education _secondary,Education _tertiary,Employment _employed,Employment _employed,Employment _semi employed,Employment _unemployed,Marital status _married,Marital status _unmarred
0,30,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,47,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
2,24,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,22,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,50,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [51]:
# get the target variables: since they are only 2 possibilities, remove one.
y = df_encoded['Violence _no']
y.head()

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Violence _no, dtype: float64

In [52]:
# splitting into training and testing sets
from sklearn.model_selection import train_test_split

In [53]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=2)

In [55]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(208, 12)
(139, 12)
(208,)
(139,)

In [57]:
# import logistic regression from sklearn
from sklearn.linear_model import LogisticRegression

In [58]:
model = LogisticRegression()

In [59]:
model.fit(X_train,y_train)

LogisticRegression()

In [61]:
prediction = model.predict(X_test)
prediction[:5]

array([1., 1., 1., 1., 1.])

In [63]:
y_test[:5]

67     1.0
170    1.0
20     1.0
99     1.0
286    1.0
Name: Violence _no, dtype: float64

In [67]:
# get the accuracy
from sklearn.metrics import accuracy_score

In [68]:
accuracy_score(prediction,y_test)

0.7266187050359713