In [1]:
import pandas as pd

In [2]:
datapath = 'C:/Users/user/Downloads/archive/RAW_us_deaths.csv'

In [3]:
dataframe = pd.read_csv(datapath)

In [4]:
dataframe.head()

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,3/1/2023,3/2/2023,3/3/2023,3/4/2023,3/5/2023,3/6/2023,3/7/2023,3/8/2023,3/9/2023,cumulative_death
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,232,232,232,232,232,232,232,232,232,140585
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,726,726,726,726,726,726,726,727,727,446338
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,103,103,103,103,103,103,103,103,103,67064
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,109,109,109,109,109,109,109,109,109,73258
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,261,261,261,261,261,261,261,261,261,162349

In [5]:
dataframe.columns

Index(['Province_State', 'Admin2', 'UID', 'iso2', 'iso3', 'code3', 'FIPS',
       'Country_Region', 'Lat', 'Long_',
       ...
       '3/1/2023', '3/2/2023', '3/3/2023', '3/4/2023', '3/5/2023', '3/6/2023',
       '3/7/2023', '3/8/2023', '3/9/2023', 'cumulative_death'],
      dtype='object', length=1156)

In [6]:
dataframe.describe()

,UID,code3,FIPS,Lat,Long_,Population,1/22/2020,1/23/2020,1/24/2020,1/25/2020,...,3/1/2023,3/2/2023,3/3/2023,3/4/2023,3/5/2023,3/6/2023,3/7/2023,3/8/2023,3/9/2023,cumulative_death
count,3.342000e+03,3342.000000,3332.000000,3342.000000,3342.000000,3.342000e+03,3342.000000,3342.000000,3342.000000,3342.000000,...,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3.342000e+03
mean,8.342992e+07,834.494913,33043.078932,36.721617,-88.642045,9.960357e+04,0.000299,0.000299,0.000299,0.000299,...,335.397068,335.624776,335.776481,335.778576,335.767205,335.781269,335.881508,336.099940,336.276481,2.136072e+05
std,4.314076e+06,36.487378,18648.808931,9.079322,21.776287,3.241661e+05,0.017298,0.017298,0.017298,0.017298,...,1104.435933,1105.572242,1105.748480,1105.751727,1105.746239,1105.772895,1105.924446,1106.230834,1107.369648,7.553637e+05
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.530000e+02
25%,8.401811e+07,840.000000,19076.500000,33.896803,-97.803595,9.917250e+03,0.000000,0.000000,0.000000,0.000000,...,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,39.000000,39.000000,2.238375e+04
50%,8.402921e+07,840.000000,31012.000000,38.005610,-89.488865,2.489150e+04,0.000000,0.000000,0.000000,0.000000,...,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,6.023850e+04
75%,8.404612e+07,840.000000,47129.500000,41.579255,-82.313398,6.497525e+04,0.000000,0.000000,0.000000,0.000000,...,245.750000,245.750000,246.000000,246.000000,246.000000,246.000000,246.750000,246.750000,246.750000,1.488022e+05
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.003911e+07,1.000000,1.000000,1.000000,1.000000,...,35366.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35453.000000,35545.000000,2.411400e+07

In [7]:
dataframe.rename(columns={'3/9/2023': 'target','3/1/2023':'date1','3/2/2023':'date2','3/3/2023':'date3','3/4/2023':'date4','3/5/2023':'date5','3/6/2023':'date6','3/7/2023':'date7','3/8/2023':'date8'},inplace=True)

In [8]:
import numpy as np

In [9]:
dataframe.shape

(3342, 1156)

In [10]:
#The target variable is y
y = dataframe.target

In [11]:
states_features = ['date1','date2','date3','date4','date5','date6','date7','date8']

In [12]:
X = dataframe[states_features]

In [13]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [14]:
train_X,val_X,train_y,val_y = train_test_split(X,y,random_state=1)

In [15]:
cmodel = DecisionTreeRegressor(random_state=1)

In [16]:
cmodel.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [17]:
prediction = cmodel.predict(val_X)

In [18]:
prediction[:5]

array([ 217., 1663.,  970., 1554.,    2.])

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
mae = mean_absolute_error(prediction,val_y)
mae

5.485166474939202

In [21]:
y.head(5)

0    232
1    727
2    103
3    109
4    261
Name: target, dtype: int64

In [22]:
prediction[:5]

array([ 217., 1663.,  970., 1554.,    2.])

In [23]:
#